// Mixins

@mixin anchor() {
  color: #2c2c2c;
  padding: 5px;
  transition: all 0.3s ease-in-out;
  &:hover {
    border-top: 3px solid #a82706;
    border-bottom: 3px solid #a82706;
  }
}

@mixin moreButton() {
  border: none;
  background: #05afc1;
  color: #2c2c2c;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 1px;
  font-family: $font2;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem 1rem;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: #a1cace;
  }
}
