@import "./setup";
@import "./variables";
@import "./mixins";
// Setting default font value

html {
  font-size: 62.5%;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

// stripping default values

h1,
h2,
h3,
h4,
p,
li,
ul {
  margin: 0;
  padding: 0;
}

li,
a {
  list-style-type: none;
  text-decoration: none;
}

// Wrapper---------------

.wrapper {
  max-width: 1140px;
  width: 85%;
  margin: 0 auto;
}

// Header Starts--------------

header {
  background: #f6a823;
  height: 70vh;
}
label,
input {
  display: none;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10vh;
  align-items: center;
  ul {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    li {
      font-family: $font2;
      text-transform: uppercase;
      font-size: 2rem;
      margin: 0 3%;
      line-height: 2.9rem;
      letter-spacing: 1px;
      font-weight: bold;
      h2 {
        font-family: $font1;
        text-transform: uppercase;
        font-size: 4.2rem;
        letter-spacing: 1px;
        font-weight: bold;
        a {
          @include anchor();
        }
      }
      a {
        @include anchor();
      }
    }
  }
}

.blogPosition {
  position: relative;
}

.headerBackground {
  background-image: url(../sophie-assets/sophie-assets/blog-image-1.jpg);
  background-size: cover;
  height: 60vh;
  background-position: right;
  display: flex;
  align-items: end;
  p {
    font-family: $font1;
    font-size: 7.5rem;
    line-height: 9.2rem;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: -50px;
  }
}

// Main Styling Starts
main {
  background: #f0efed;
}
.blogContainer {
  display: flex;
  flex-direction: row;
  padding: 10% 0;
}
.blogAside {
  width: 30%;
}
.aboutSophie {
  display: flex;
  flex-direction: column;
  padding: 5%;
  background: #f5f5f5;
  margin-bottom: 10%;
  h4 {
    font-family: $font2;
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 5% 0;
  }
  p {
    font-family: $font2;
    font-size: 1.6rem;
    line-height: 3.2rem;
    a {
      color: #285e64;
      font-weight: bold;
    }
  }
}

.recentPost {
  display: flex;
  flex-direction: column;
  padding: 5%;
  background: #f5f5f5;
  h4 {
    font-family: $font2;
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 5% 0;
  }
  ul li {
    font-family: $font2;
    font-size: 1.6rem;
    line-height: 3.2rem;
  }
  ul li::before {
    content: "\2022";
    color: #f6a823;
    display: inline-block;
    margin-left: 1rem;
    width: 1rem;
  }
}

.mainSection {
  width: 70%;
  margin-left: 5%;
  .box1,
  .box3 {
    border-bottom: 4px solid #f6a823;
  }
  div {
    padding: 10px;
    background: #f5f5f5;
    margin-bottom: 5%;
    h3 {
      font-family: $font2;
      font-size: 2.8rem;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    p {
      font-family: $font2;
      font-size: 1.6rem;
      line-height: 3rem;
      margin-bottom: 10px;
      a {
        font-weight: bold;
        color: #285e64;
      }
    }
  }
  .jeremy {
    display: flex;
    flex-direction: row;
    li {
      .jeremyBox2 {
        color: #285e64;
        font-weight: bold;
      }
      &:nth-of-type(1) {
        width: 100%;
        margin: 0 10px;
      }
      &::nth-of-type(2) {
        width: 80%;
      }
    }
  }
  .juliaBox {
    display: flex;
    flex-direction: row;
    li {
      .juliaBox3 {
        color: #285e64;
        font-weight: bold;
      }
      &:nth-of-type(1) {
        width: 100%;
        margin: 0 10px;
      }
      &::nth-of-type(2) {
        width: 80%;
      }
    }
  }
}
.commentForm {
  width: 100%;
  input[type="text"] {
    margin: 10px 10px 10px 0;
    width: calc((100% / 2) - 20px);
    padding: 10px;
    display: inline-block;
    border: none;
    font-family: $font2;
    font-size: 1.6rem;
    &::placeholder {
      font-style: italic;
    }
  }
  input[type="email"] {
    margin: 10px 0 10px 10px;
    width: calc((100% / 2) - 10px);
    padding: 10px;
    display: inline-block;
    border: none;
    font-family: $font2;
    font-size: 1.6rem;
    &::placeholder {
      font-style: italic;
    }
  }
  textarea {
    width: 100%;
    padding: 10px;
    display: block;
    border: none;
    resize: none;
    font-family: $font2;
    font-size: 1.6rem;
    &::placeholder {
      font-style: italic;
    }
  }
  button {
    @include moreButton();
    width: 100%;
    margin: 10px 0;
  }
}
// Footer Starts
footer {
  background: #2c2c2c;
  padding: 8px 0;
  p {
    text-align: center;
    font-size: 1.6rem;
    font-family: $font2;
    color: #f0efed;
    text-transform: capitalize;
  }
}
// Footer Ends

/* Media Queries (responsive)  */

// For Tablets

@media (max-width: 768px) {
  .navigation {
    padding-top: 15%;
  }
  label,
  input {
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
  }
  input[type="checkbox"] {
    display: none; /*hide the input, we don't need to see it */
  }
  input[type="checkbox"]:checked + ul.slidingMenu {
    margin-top: 30%;
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    li {
      margin: 2% 0;
    }
  }
  ul.slidingMenu {
    display: none;
  }
  .headerBackground {
    background-position: 80%;
  }
  .blogContainer {
    display: flex;
    flex-direction: column;
    .blogAside {
      width: 100%;
      .aboutSophie {
        margin-bottom: 5%;
      }
    }
    .mainSection {
      width: 100%;
      margin: 5% 0 0 0;
    }
  }
}
// For mobile phones

@media (max-width: 480px) {
  .mainSection {
    .jeremy {
      display: flex;
      flex-direction: column;
      li {
        &:nth-of-type(1) {
          width: 50%;
          margin: 0 auto;
        }
      }
    }
    .juliaBox {
      display: flex;
      flex-direction: column;
      li {
        width: 100%;
        &:nth-of-type(1) {
          width: 50%;
          margin: 0 auto;
        }
      }
    }
  }
}
