@import "./setup";
@import "./variables";
@import "./mixins";
// Setting default font value

html {
  font-size: 62.5%;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

// stripping default values

h1,
h2,
h4,
p,
li,
ul {
  margin: 0;
  padding: 0;
}

li,
a {
  list-style-type: none;
  text-decoration: none;
}

// Wrapper---------------

.wrapper {
  max-width: 1140px;
  width: 85%;
  margin: 0 auto;
}

// Header Starts--------------

header {
  background: #f6a823;
  height: 100vh;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  align-items: center;
  ul {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    li {
      font-family: $font2;
      text-transform: uppercase;
      font-size: 2rem;
      margin: 0 3%;
      line-height: 2.9rem;
      letter-spacing: 1px;
      font-weight: bold;
      h2 {
        font-family: $font1;
        text-transform: uppercase;
        font-size: 4.2rem;
        letter-spacing: 1px;
        font-weight: bold;
        a {
          @include anchor();
        }
      }
      a {
        @include anchor();
      }
    }
  }
}

.headingPhoto {
  margin-top: 12%;
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    li:nth-of-type(1) {
      width: calc(100% / 2);
      display: flex;
      flex-direction: column;
      div {
        padding-right: 80%;
        position: relative;
        top: 30px;
        right: 30px;
      }
      h1 {
        font-family: $font1;
        text-transform: uppercase;
        font-size: calc(8rem + 0.5vw);
        line-height: 9.2rem;
      }
    }
    li:nth-of-type(2) {
      width: 30%;
      img {
        box-shadow: 10px 10px whitesmoke;
      }
    }
  }
}

//Header ends--------------

//Main Starts --------------------

// Section "Who is Sophie" Starts

.whoSophie {
  background: #f0efed;
  padding: 5% 0 10% 0;
  h2 {
    font-family: $font2;
    text-transform: uppercase;
    font-size: 4.2rem;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 15px auto;
  }
}
.info {
  font-family: $font2;
  font-size: 2rem;
  margin: 15px 0;
}
button {
  @include moreButton();
}
// Section "Who is Sophie" Ends

// Sophie's Blog section starts

.rowOne {
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
  .dogImage {
    width: calc(100% / 2);
    position: relative;
    img {
      position: absolute;
      top: -40px;
      left: -40px;
      box-shadow: -60px 15px #a82706;
    }
  }
  .favouriteThings {
    width: calc(100% / 2);
    padding: 2% 0 0 2%;
    h3 {
      font-family: $font2;
      font-size: 3.2rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0;
    }
    .info {
      text-align: left;
    }
    .readButton1 {
      text-align: left;
    }
  }
}

.rowTwo {
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
  padding-top: 5%;
  .travelled {
    width: calc(100% / 2);
    padding: 2% 0 0 2%;
    h3 {
      font-family: $font2;
      font-size: 3.2rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0;
      text-align: right;
    }
    .info {
      text-align: right;
    }
    .readButton2 {
      text-align: right;
    }
  }
  .umbrellaImage {
    width: calc(100% / 2);
    position: relative;
    img {
      position: absolute;
      top: -10px;
      left: 40px;
      box-shadow: 60px 15px #f6a823;
    }
  }
}

// Links Styling Starts

.links {
  background: #f0efed;
  .linksList {
    padding-top: 7%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    li {
      width: calc(100% / 2);
    }
  }
  .photos {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    div:nth-of-type(1) {
      margin-right: 10px;
      font-size: 2.4rem;
    }
    .photosInfo {
      display: flex;
      flex-direction: column;
      h4 {
        text-transform: uppercase;
        font-family: $font2;
        font-size: 2.4rem;
        letter-spacing: 1;
      }
      p {
        font-family: $font2;
        font-size: 1.8rem;
        line-height: 3.2rem;
        margin: 5% 0;
      }
    }
  }
  .about {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    div:nth-of-type(1) {
      margin-right: 10px;
      font-size: 2.4rem;
    }
    .aboutInfo {
      display: flex;
      flex-direction: column;
      h4 {
        text-transform: uppercase;
        font-family: $font2;
        font-size: 2.4rem;
        letter-spacing: 1;
      }
      p {
        font-family: $font2;
        font-size: 1.8rem;
        line-height: 3.2rem;
        margin: 5% 0;
      }
    }
  }
  .blog {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    div:nth-of-type(1) {
      margin-right: 10px;
      font-size: 2.4rem;
    }
    .blogInfo {
      display: flex;
      flex-direction: column;
      h4 {
        text-transform: uppercase;
        font-family: $font2;
        font-size: 2.4rem;
        letter-spacing: 1;
      }
      p {
        font-family: $font2;
        font-size: 1.8rem;
        line-height: 3.2rem;
        margin: 5% 0;
      }
    }
  }
  .getInTouch {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    div:nth-of-type(1) {
      margin-right: 10px;
      font-size: 2.4rem;
    }
    .getInTouchInfo {
      display: flex;
      flex-direction: column;
      h4 {
        text-transform: uppercase;
        font-family: $font2;
        font-size: 2.4rem;
        letter-spacing: 1;
      }
      p {
        font-family: $font2;
        font-size: 1.8rem;
        line-height: 3.2rem;
        margin: 5% 0;
      }
    }
  }
}
// Links Styling Ends

// Theatre background Image section Starts

.theatreImage {
  background: url(../sophie-assets/sophie-assets/home-image-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}

// Theatre background Image section Ends

//Sophie's Journey section starts

.sophieJourney {
  background: #f0efed;
}

.journeyContainer {
  display: flex;
  flex-direction: row;
  padding: 10% 0;
  align-items: center;
}

.journeyImage {
  width: 30%;
  img{
    box-shadow: 10px 10px #F6A823;
  }
}

.journeyInfo {
  width: 70%;
  padding-left: 10%;
  h2 {
    font-family: $font2;
    text-transform: uppercase;
    font-size: 3.2rem;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 2% auto;
  }
  p{
    font-family: $font2;
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin-bottom: 2%;
  }
}

//Sophie's Journey section Ends

