@import "./setup";
@import "./variables";
@import "./mixins";
// Setting default font value

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

// stripping default values

h1,
h2,
h4,
p,
li,
ul {
  margin: 0;
  padding: 0;
}

li,
a {
  list-style-type: none;
  text-decoration: none;
}

// Wrapper

.wrapper {
  max-width: 1140px;
  width: 85%;
  margin: 0 auto;
}

// Header

header {
  background: #f6a823;
  height: 100vh;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  align-items: center;
  ul {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    li {
      font-family: $font2;
      text-transform: uppercase;
      font-size: 2rem;
      margin: 0 3%;
      line-height: 2.9rem;
      letter-spacing: 1px;
      font-weight: bold;
      h2 {
        font-family: $font1;
        text-transform: uppercase;
        font-size: 4.2rem;
        letter-spacing: 1px;
        font-weight: bold;
        a {
          @include anchor();
        }
      }
      a {
        @include anchor();
      }
    }
  }
}

.headingPhoto {
  margin-top: 10%;
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    li:nth-of-type(1) {
      width: calc(100% / 2);
      display: flex;
      flex-direction: column;
      div{
        padding-right: 80%;
        position: relative;
        top: 30px;
        right: 30px;
      }
      h1 {
        font-family: $font1;
        text-transform: uppercase;
        font-size: calc(8rem + 0.5vw);
        line-height: 9.2rem;
      }
    }
    li:nth-of-type(2) {
      width: 30%;
      img {
        box-shadow: 10px 10px whitesmoke;
      }
    }
  }
}
